.background {
	background-image: url(../Images/photo1.jpg);
	width: 100%;
	height: 900px;
	background-repeat: no-repeat;
	position: relative;
}

.bird {

	position: absolute;
	top: 10px;
	right: 50px;
	transform: rotate(-30deg);
	width: 100px;
	height: 100px;
	animation: bird 30s infinite;
	
}



@keyframes bird {

0% {right: 100px;}
100% {right: 1500px;}

}



.bird2 {

	position: absolute;
	top: 250px;
	right: 300px;
	transform: rotate(-5deg);
	width: 100px;
	height: 100px;
	animation: bird 30s infinite;
	
}


@keyframes bird2 {

0% {right: 50px;}
100% {right: 1550px;}

}

.ship {

    position: absolute;
	top: 550px;
	left: 650px;
	width: 150px;
	height: 150px;
	animation: ship 30s infinite;
	
}

 @keyframes ship {

 	0% { left: 100px; }
 	100% {left: 1500px;  }
 }


 .sun {
 	position: absolute;
	top: 100px;
	left: 100px;
	width: 150px;
	height: 150px;
	animation: sun 30s infinite;

 }


 @keyframes sun {

 	0% { top: 1px; }
 	100% {top: 100px;  }
 }

